@font-face {
  font-family: 'Mulish';
  font-weight: 200;
  font-display: swap;
  src: url('../assets/fonts/mulish-extra-light.woff2') format('woff2');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 400;
  font-display: swap;
  src: url('../assets/fonts/mulish-regular.woff2') format('woff2');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 700;
  font-display: swap;
  src: url('../assets/fonts/mulish-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 800;
  font-display: swap;
  src: url('../assets/fonts/mulish-extra-bold.woff2') format('woff2');
}

@font-face {
  font-family: 'Mulish';
  font-weight: 900;
  font-display: swap;
  src: url('../assets/fonts/mulish-black.woff2') format('woff2');
}
