
<nz-breadcrumb>
  <nz-breadcrumb-item><a [routerLink]="['../../../']">Software House</a></nz-breadcrumb-item>
  <nz-breadcrumb-item><a [routerLink]="['../../']">Departments</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>Transfer</nz-breadcrumb-item>
</nz-breadcrumb>
<div nz-row nzJustify="start">
  <div nz-col [nzSpan]="20">
    <h1 nz-typography>Transfer people</h1>
  </div>
</div>
<nz-transfer
  [nzDisabled]="isLoading"
  [nzDataSource]="list"
  nzShowSearch
  [nzTitles]="['Employees', departmentName]"
  [nzOperations]="['add to ' + departmentName, 'remove from ' + departmentName]"
  [nzListStyle]="{ 'width.rem': 40, 'height.rem': 40, 'margin': '0 auto' }"
  [nzFilterOption]="filterOption"
  (nzChange)="change($event)"
></nz-transfer>
