<nz-layout>
    <nz-content>
        <h1>Experience of {{editedPerson?.name}} {{editedPerson?.surname}}</h1>
        <nz-breadcrumb>
            <nz-breadcrumb-item>Software House</nz-breadcrumb-item>
            <nz-breadcrumb-item>Experience</nz-breadcrumb-item>
            <nz-breadcrumb-item>{{editedPerson?.name}} {{editedPerson?.surname}}</nz-breadcrumb-item>
        </nz-breadcrumb>
        <app-experience-form [person]="editedPerson" (submitted)="submitExperience($event)" (deleted)="removePersonsExperience($event)"></app-experience-form>
    </nz-content>
</nz-layout>