<div class="card">
  <div class="card-content">
    <div class="media">
      <div class="media-content">
        <p class="title is-4">{{person.name}} {{person.surname}}</p>
        <p class="subtitle is-6">
          {{person.seniority | titlecase}} <span *ngFor="let role of person.roles">{{role.name}} </span>
        </p>
      </div>
    </div>

    <div class="content">
      <div class="tags">
        <span class="tag is-light" *ngFor="let skill of person.skills | slice:0:8">
          {{ skill?.name }}
        </span>
      </div>
      <div class="content is-small">
        <ul>
          <li *ngFor="let project of person.projects">{{ project.name }}</li>
        </ul>
      </div>
    </div>
  </div>
</div>