@import "../../../styles/typography";

.content-section {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .title {
    &.large {
      @extend .font-lg;
      font-weight: $fw-bold;
    }

    &.medium {
      @extend .font-md;
      font-weight: $fw-bold;
    }

    &.small {
      @extend .font-xs;
      font-weight: $fw-bold;
    }
  }

  .subtitle {
    @extend .font-md-narrow;
    font-weight: $fw-regular;
    color: #636363;
  }

  .content-wrapper {
    padding: 0.625rem 0;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}
