<nz-breadcrumb>
  <nz-breadcrumb-item><a [routerLink]="['../']">Software House</a></nz-breadcrumb-item>
  <nz-breadcrumb-item>Skills</nz-breadcrumb-item>
</nz-breadcrumb>
<div nz-row nzJustify="end">
  <div nz-col [nzSpan]="20">
    <h1 nz-typography>Skills</h1>
  </div>
  <div nz-col [nzSpan]="4">
    <button nz-button nzBlock nzType="default" (click)="openForm('skill')">Create skill</button>
  </div>
</div>

<nz-table
  #table
  [nzData]="feed"
  [nzBordered]="true"
  [nzLoading]="isLoading"
  [nzFrontPagination]="false"
>
  <thead>
  <tr>
    <th>Name</th>
    <th>Type</th>
    <th>Actions</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let skill of table.data; let index = index">
    <td
      [nzShowExpand]="skill.childrenCount > 0"
      [nzIndentSize]="skill.level * 20"
      (nzExpandChange)="handleExpand(skill, index, $event)"
    >
      {{ skill.name }}
    </td>
    <td>{{ skill.type }}</td>
  </tr>
  </tbody>
</nz-table>
<nz-drawer
  *ngIf="currentForm === 'skill'"
  [nzBodyStyle]="{ overflow: 'auto' }"
  [nzMaskClosable]="true"
  [nzWidth]="'40%'"
  [nzVisible]="isFormVisible"
  [nzTitle]="'Create skill'"
  (nzOnClose)="closeForm()">
  <div *nzDrawerContent>
    <app-skills-form (canceled)="closeForm()" (submitted)="closeForm($event)"></app-skills-form>
  </div>
</nz-drawer>
