<nz-breadcrumb>
  <nz-breadcrumb-item>Software House</nz-breadcrumb-item>
  <nz-breadcrumb-item>Dashboard</nz-breadcrumb-item>
</nz-breadcrumb>
<div nz-row nzJustify="end">
  <div nz-col [nzSpan]="20">
    <h1 nz-typography>Dashboard</h1>
  </div>
  <div nz-col [nzSpan]="4">
    <button nz-button nzBlock nzType="default" (click)="openForm('person')">Create person</button>
  </div>
</div>
<nz-card nzTitle="Find people for the job ">
  <form nz-form [formGroup]="filterForm">
    <div nz-row [nzGutter]="24">
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzFor]="'deps'">Department</nz-form-label>
          <nz-form-control>
            <nz-select
              [nzMaxTagCount]="10"
              nzMode="multiple"
              nzPlaceHolder="Please select departments"
              formControlName="deps"
              >
              <nz-option *ngFor="let dep of departments$ | async" [nzLabel]="dep.name" [nzValue]="dep.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzFor]="'deps'">Project</nz-form-label>
          <nz-form-control>
            <nz-select
              [nzMaxTagCount]="10"
              nzMode="multiple"
              nzPlaceHolder="Please select projects"
              formControlName="projects"
              >
              <nz-option *ngFor="let project of projects$ | async" [nzLabel]="project.name" [nzValue]="project.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzFor]="'skills'">Skills</nz-form-label>
          <nz-form-control>
            <nz-select
              [nzMaxTagCount]="10"
              nzMode="multiple"
              nzPlaceHolder="Please select skills"
              formControlName="skills"
              >
              <nz-option *ngFor="let skill of skills$ | async" [nzLabel]="skill.name" [nzValue]="skill.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
      <div nz-col [nzSpan]="6">
        <nz-form-item>
          <nz-form-label [nzFor]="'roles'">Roles</nz-form-label>
          <nz-form-control>
            <nz-select
              [nzMaxTagCount]="10"
              nzMode="multiple"
              nzPlaceHolder="Please select roles"
              formControlName="roles"
              >
              <nz-option *ngFor="let role of roles$ | async" [nzLabel]="role.name" [nzValue]="role.id"></nz-option>
            </nz-select>
          </nz-form-control>
        </nz-form-item>
      </div>
    </div>
  </form>
</nz-card>

<nz-table
  #table
  [nzData]="people"
  [nzBordered]="true"
  [nzLoading]="isLoading"
  [nzPageSize]="100">
  <thead>
    <tr>
      <th>Name</th>
      <th>Seniority</th>
      <th>Role</th>
      <th>Skills</th>
      <th>Department</th>
      <th>Projects</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let person of table.data">
      <td>{{ person.name}} {{ person.surname}}</td>
      <td>{{ person.seniority | titlecase}}</td>
      <td>
        <span *ngFor="let role of person.roles">{{ role.name }} </span>
      </td>
      <td>
        <nz-tag *ngFor="let skill of person.skills | slice:0:8">
          {{ skill.name }}
        </nz-tag>
      </td>
      <td>
        <span *ngFor="let dep of person.departments">
          {{ dep.name }}
        </span>
      </td>
      <td>
        <nz-tag *ngFor="let project of person.projects | slice:0:8" nzMode="checkable">
          {{ project.name }}
        </nz-tag>
      </td>
      <td>
        <nz-space [nzSize]="'small'">
           <button *nzSpaceItem nz-button nzType="link" (click)="openForm('person', person)">Edit</button>
          <a *nzSpaceItem nz-button nzType="link" [routerLink]="['../persons/', person.id, 'experiences']">Edit experience</a>
          <button *nzSpaceItem nz-button nzType="link" (click)="openForm('rates', person)">Edit rates</button>
          <button *nzSpaceItem
          nzType="link"
          nz-popconfirm
          nzPopconfirmTitle="Do you want to remove this person?"
          (nzOnConfirm)="removePerson(person)"
          (nzOnCancel)="isConfirmModal = false"
          nzPopconfirmPlacement="top"
          nz-button nzDanger>Delete</button>
        </nz-space>
      </td>
    </tr>
  </tbody>
</nz-table>
<nz-drawer
*ngIf="currentForm === 'person'"
[nzBodyStyle]="{ overflow: 'auto' }"
[nzMaskClosable]="true"
[nzWidth]="'40%'"
[nzVisible]="isFormVisible"
[nzTitle]="editedPerson ? editedPerson.name + ' ' + editedPerson.surname : 'Create person'"
(nzOnClose)="closeForm()">
<div *nzDrawerContent>
  <app-person-form (canceled)="closeForm()" (submitted)="closeForm($event)"></app-person-form>
</div>
</nz-drawer>


<nz-drawer
*ngIf="currentForm === 'rates'"
[nzBodyStyle]="{ overflow: 'auto' }"
[nzMaskClosable]="true"
[nzWidth]="'40%'"
[nzVisible]="isFormVisible"
[nzTitle]="editedPerson ? 'Edit rates': 'Create rates'"
(nzOnClose)="closeForm()">
<div *nzDrawerContent>
    <app-rates-form [person]="editedPerson" (canceled)="closeForm()" (submitted)="closeForm()"></app-rates-form>
  </div>
</nz-drawer>