<div class="ratesForm" >
  <!-- <nz-empty *ngIf="!ratesList || ratesList.length === 0"></nz-empty> -->
  
  <form nz-form [formGroup]="ratesForm">
      <nz-list nzGrid>
        <div nz-col [nzXXl]="24" [nzXl]="24">
            <nz-list-item>
              <nz-card [nzTitle]="((ratesForm.value.validFrom | date:'mediumDate') + ' ')" style="border:none">
                <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" ng-model="myDecimal | number : 2" nzRequired nzFor="value">Value</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Value is required.">
                  <input nz-input type="number" formControlName="value" id="value" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="validFrom" nzRequired>Valid from</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Select valid starting date!">
                    <nz-date-picker formControlName="validFrom"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>


            <nz-form-item>
              <nz-form-control [nzOffset]="7" [nzSpan]="12">
                  <button
                  type="submit"
                  nz-button nzType="primary" (click)="submitNewRate(ratesForm)">
                   Save
                  </button>
                  <button nz-button (click)="resetForm()">Reset</button>
              </nz-form-control>
            </nz-form-item>
            </nz-card>
            </nz-list-item>
          </div>
      </nz-list>
      </form>
      </div>
