<div class="ratesForm" >
  <nz-empty *ngIf="!ratesList || ratesList.length === 0"></nz-empty>
  
  <form nz-form [formGroup]="ratesForm" >
    <ng-container formArrayName="rates">
      <nz-list nzGrid>
        <div nz-row [nzGutter]="24">
          <div nz-col [nzXXl]="24" [nzXl]="24" *ngFor="let ratesList of ratesList.controls; let idx = index" [formGroupName]="idx">
            <nz-list-item>
              <nz-card [nzTitle]="((ratesList.value.validFrom | date:'mediumDate') + ' ')">
                <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzRequired nzFor="value">Value</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Value is required.">
                  <input nz-input type="number" formControlName="value" id="value" />
                </nz-form-control>
              </nz-form-item>
              <nz-form-item>
                <nz-form-label [nzSm]="6" [nzXs]="24" nzFor="validFrom" nzRequired>Valid from</nz-form-label>
                <nz-form-control [nzSm]="14" [nzXs]="24" nzErrorTip="Select valid starting date!">
                    <nz-date-picker formControlName="validFrom"></nz-date-picker>
                </nz-form-control>
            </nz-form-item>


            <nz-form-item>
              <nz-form-control class="btn-center">
                  <nz-space [nzSize]="'small'">
                  <button
                  type="submit"
                  [disabled]="!(ratesList.status === 'VALID') || !ratesList.dirty"
                  *nzSpaceItem nz-button nzType="primary" (click)="submitNewRate(ratesList)">
                    Submit
                  </button>
                  <button
                  class="btn-sm" 
                  nzDanger
                  nz-button
                  nzType="primary"
                  nz-popconfirm
                  nzPopconfirmTitle="Are you sure you want to delete this experience?"
                  (nzOnConfirm)="deleteRate(idx, ratesList)"
                  (nzOnCancel)="cancelDelete()"
                >
                 Remove
                </button>
                  </nz-space>
              </nz-form-control>
            </nz-form-item>
            </nz-card>
            </nz-list-item>
          </div>
        </div>
      </nz-list>
      <nz-form-item>
        <nz-form-control class="btn-center">
            <nz-space [nzSize]="'small'">
            <button nzSize="large" *nzSpaceItem nz-button nzType="primary" (click)="addNewForm()">
                Add new
            </button>
            </nz-space>
        </nz-form-control>
      </nz-form-item>
      </ng-container>
      </form>
      </div>
