.experienceForm{
    margin: 4rem;
}
.btn-sm {
    margin: 0 0.2rem;
}
.btn-center{
    margin: 0 auto;
    text-align: center;
}
.editButons{
    display: flex;
    align-items: center;
}
form {
    margin: 0 auto;
    
}